# Database
DATABASE_URL="postgresql://user:password@localhost:5432/swm_producer_portal"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# WordPress
WP_API_URL="https://stolenwatermedia.com/wp-json/wp/v2"
WP_APP_USER=""
WP_APP_PASSWORD=""

# Email Notifications (Resend)
RESEND_API_KEY=""
